* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #161617;
    color: #c9cccf;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.field {
    display: flex;
    flex-direction: column;

    margin-top: 24px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.empty,
.healthy,
.sick,
.dead,
.immunized,
.denis,
.megabotik {
    width: 30px;
    height: 30px;
}

.healthy {
    background-color: #BA3528;
}

.immunized {
    background-color: #232DD3;
}

.megabotik {
    background-color: aqua;
}

@keyframes annn {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}

@-webkit-keyframes annn {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-moz-keyframes annn {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}

.denis {
    position: relative;
    transition: .5s;
}

.denis::after {
    content: '#';
    text-align: center;
    font-size: 30px;

    position: absolute;
    top: -2px;
    left: 50%;
    margin-left: -10px;

    background: none;
    animation: none;
}

.denis:hover::after {
    background: linear-gradient(360deg, #c9cccf, #161617);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    -webkit-animation: annn 3s ease infinite;
    -moz-animation: annn 3s ease infinite;
    animation: annn 3s ease infinite;
}



.dead {
    position: relative;
}

.dead::after {
    content: '#';
    text-align: center;
    font-size: 30px;

    position: absolute;
    top: -2px;
    left: 50%;
    margin-left: -10px;
}

.sick {
    position: relative;
    background-color: #3F9F2E;
}

.sick::after {
    content: 'П';
    text-align: center;
    font-size: 30px;

    position: absolute;
    top: -2px;
    left: 50%;
    margin-left: -10px;
}