.link {
    display: inline-block;
    padding: 4px;
    border-radius: 8px;
    border: 2px solid var(--color);
    width: 40px;
    height: 40px;
    transition-duration: .5s;
}

.link svg > path {
    fill: var(--color);
    transition-duration: .5s;
}

.link:hover {
    background-color: var(--color);
    color: var(--background-color);
    opacity: .8;
}


.link:hover svg > path {
    fill: var(--background-color);
}