.container {
    z-index: 1;
    position: absolute;
    top: 16px;
    right: 16px;
}

.select {
    width: 96px;
    height: 52px;
}

.imgContainer {
    display: flex;
    justify-content: center;
}

.imgContainer > img {
    width: 48px;
}