.title {
    font-family: Montserrat, sans-serif;
    font-size: 1.7em;
    font-weight: 900;
    width: 100%;
    opacity: .7;
}

@media (max-width: 600px) {
    .title {
        padding-left: 16px;
    }
}