.infoBox {
    border: 2px solid var(--color);
    border-radius: 8px;
    padding: 16px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

@media (max-width: 600px) {
    .infoBox {
        width: 100vw;
        flex-direction: column;

        border: none;
    }
}