@font-face {
    font-family: 'Open Sans';
    src: url('assets/fonts/Open_Sans/OpenSans-VariableFont_wdth_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

:root {
    --color: #c9cccf;
    --background-color: #161617;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}