.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    position: relative;
}

.section:not(:last-child)::after {
    content: '';
    position: absolute;
    right: -18px;
    height: 80%;
    border-left: 2px solid var(--color);
}

.title {
    font-family: Montserrat, sans-serif;
    font-size: 1.5em;
    font-weight: 700;
}

.description {
    text-align: center;
}

.email {
    color: var(--color);
    transition-duration: .5s;
}

.email:hover {
    color: var(--color);
    text-decoration: underline;
    opacity: .8;
}

.links {
    display: flex;
    gap: 8px;
}

@media (max-width: 600px) {
    .section {
        width: 100%;
    }

    .section:not(:last-child)::after {
        content: '';
        position: absolute;
        right: auto;
        bottom: -18px;
        height: auto;
        width: 100%;
        border-left: none;
        border-bottom: 2px solid var(--color);
    }
}